/*Asterisk selector to override default settings*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General body styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    color: #fffeff;
    font-family: 'Alegreya Sans', sans-serif;
}

header {
    background-color: darkgreen;
    position: fixed;
    padding: 0 1rem;
    z-index: 99;
    width: 100%;

    
}

main {
    background-color: brown;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    

}

footer {
    background-color: gray;
}



header nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}

header a {
    text-decoration:none;
    color: inherit;
}

ul {
    list-style-type: none;

}