/*Asterisk selector to override default settings*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General body styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    color: #fffeff;
    font-family: 'Alegreya Sans', sans-serif;
}

header {
    background-color: #764f07;
    position: fixed;
    padding: 0 1rem;
    z-index: 99;
    width: 100%;
    border-bottom: solid 2px #fffeff;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    #menu-bars {
        font-size: 30px;
    }
    

   
    

    
}

main {
    background-color: brown;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    margin-top: 60px;
    

}

footer {
    background-color: gray;
}


/*Nav style dropdown toggle*/

nav {
    position: absolute;
    background-color: darkgreen;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
    
}

/*Nav toggle function*/
#toggle:checked~nav {
    display: block;
}

#toggle {
    display: none;
}


header a {
    text-decoration:none;
    color: inherit;
}

ul {
    list-style-type: none;

}

h1 {
    font-family: 'Kaushan Script', cursive; 
    font-size: 38px;
    letter-spacing: 1px;
    margin-bottom: 4px;
}

#menu {
    font-size: 18px;
}

#social-media {
    display: flex;
    justify-content: space-around;
}