/*Asterisk selector to override default settings*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General body styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fffeff;
    font-family: 'Alegreya Sans', sans-serif;
}

header {
    background: linear-gradient(to right, white -30%, #05ae91);
    position: fixed;
    padding: 0 1rem;
    z-index: 99;
    width: 100%;
    border-bottom: solid 2px #fffeff;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    #menu-bars {
        font-size: 30px; /*Why do I get red wavy underline here?*/
    }

}

#logo {
    display: flex;
    text-align: center;
    }
   
header p {
    font-size: 50px;
    }


main {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    width:100%;
}

.homepage-h2{
    font-family: 'Poiret One', cursive;
}

/*Hero Image*/
#hero {
    height: 800px;
    width: 100%;
    background-image: url(../images/hero-image.jpg);
    background-size: cover;
    background-position-x: 43%;
    margin-top: 60px;
    position: relative;
    border-bottom: 2px solid white;
}

footer {
    background-color: rgb(55, 48, 48);
    height: fit-content;
    font-size: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    text-align: center;
}

.footer-adress{
    font-size: 16px;
}

hr {
    width:70%;
    margin: 0 auto;
}

#footer-email {
    font-size: 13px;
    text-decoration: none;
    color: white;
    display: block;
    margin: 10px;
}

#copyright {
    margin-top: 35px;
}

.educational{
    font-size: 16px;
}

/*Nav style dropdown toggle*/
nav {
    position: absolute;
    background:linear-gradient(to right, white -30%, #05ae91);
    left: 0;
    width: 100%;
    display: none;
    top: 100%;
    text-align: right;
}

/*Nav toggle function*/
#toggle:checked~nav {
    display: block;
}

#toggle {
    display: none;
}

header a {
    text-decoration:none;
    color: inherit;
}

ul {
    list-style-type: none;
}

h1 {
    font-family: 'Kaushan Script', cursive; 
    font-size: 38px;
    letter-spacing: 1px;
    margin-bottom: 4px;
}

#menu {
    font-size: 18px;
}

#social-media {
    color: white;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}


nav ul li {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-right: 10px;
}

.pages {
    background-color: #05ae91;
    height: 100%;
    text-align: center;
    margin-top:60px;
}

.pages>.contact-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-classes{
    font-family: 'Comfortaa', cursive;
    color: black;
    padding-left: 2px;
    background-color: white; /*see about border white white and see about font for vinyasa hatha etc.*/
    border: solid 2px white;
    height: fit-content;
    margin:0 10px 20px 10px;
}

.class-photo-divs {
    border: solid 2px white;
    margin: 0 10px 0 10px;
    height: 32vw;
}

.class-photo-divs {
    height: 32vw;
}

section a {
    margin:5px 15px 0 15px;
    padding-bottom: 30px;
    color: black;
    font-size: 27px;
}

#class-photo-1 {
    background: url(../images/hatha.jpeg) no-repeat center center/cover;
    height: 150px;
}

#class-photo-2 {
    background: url(../images/vinyasa.jpeg) no-repeat center center/cover;
    height: 150px;
    background-position-y: 0px;
}

#class-photo-3 {
    background: url(../images/kundalini.webp) no-repeat center center/cover;
    height: 150px;
}

#team-photo{
    height: 150px;
    background: url(../images/man.jpg) no-repeat center center/cover;
}


.about-text{
    margin-top: 20px;
}

.page-header{
    margin-top: 10px;
    font-family: 'Comfortaa', sans-serif;
}


#founder{
    margin-top: 50px;
}

.founder,
.find-us {
    margin-top: 10px;
}

.Google-maps{
    width: 300px;
    margin:20px 20px 20px 10px; /*Why the red wavy underscore line*/
}

iframe {
    width: 90%;
    margin: 5%;
}

#social-media i::before {
    color: white;
}

.hero-phrase{
    font-family: 'Architects Daughter', cursive;
    font-size: 56px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-phrase>button {
    background: transparent;
    padding: 10px;
    border: 2px solid white;
}

.hero-phrase>button>a {
    text-decoration: none;
    color: white;
}

.hero-phrase>button:hover {
    background: white;
}

.hero-phrase>button:hover>a {
    color: blue;
}


#homepage-section {
    height: fit-content;
    background-color: #05ae91;
    color: white;
    padding: 10px;
}

.homepage-h2{
    text-align: center;
   
}

.homepage-about{
    font-family: 'Comfortaa', cursive;
    text-align: center;
    margin-top: 10px;
}

#contact-form,
.buttons {
    margin-top: 10px;
}

#contact-form input[type="text"] {
    width: 260px;
}

#message {
    height: 60px;
}

.contact-section {
    width: 350px;
}

#contact-form label {
    display: inline-block;
    width: 85px;
}

a {
    font-family: 'Comfortaa', cursive;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    margin-top: 5px;
    font-size: 43px;
}

#about-photo {
    background: url(../images/man2.jpg) center center/cover;
    height: 190px;
    width: 100%;
    margin-top: 20px;
    border: solid 2px white;
}


